.listContainer {
  display: flex;
  justify-content: center; /* Center the entire wrapper */
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1200px; /* Increase container width for balance */
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 20px;
}

.listSearch {
  flex: 0 0 250px; /* Fixed width for the search bar */
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.lsItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem > label {
  font-size: 12px;
}

.lsInputWithIcon {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.lsInputWithIcon input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.lsInputWithIcon span {
  cursor: pointer;
}

.lsIcon {
  color: #555;
  font-size: 16px;
}

.listSearch > button {
  padding: 10px;
  background-color: #0071c2;
  color: white;
  border: none;
  width: 100%;
  font-weight: 500;
  cursor: pointer;
}

.listResult {
  flex: 1; /* Flexible to take up remaining space */
  background-color: white; /* Optional for clarity */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.error {
  text-align: center;
  margin-top: 50px;
}

.error h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.error p {
  font-size: 18px;
  color: #555;
}
